html {
  box-sizing: border-box;
  font-size: 62.6%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  float: right;
}

img:hover {
  transform: scale(1.1);
}

body {
  background-color: rgb(252, 133, 172);
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  line-height: 2;
}

.nombre {
  margin-top: 50px;
  text-align: left;
  margin-bottom: 30px;
}

.contenedor-navegacion {
  border-top: 1px solid rgb(252, 133, 172);
}

.navegacion {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  height: 550px;
  background-image: url(../imagenes/EN_Oddysseus_06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  justify-content: space-between;
  background-color: #faa6c6;
  display: flex;
  padding: 1rem;
  transition: 0.3s ease-out;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgb(255, 102, 153);
}

.categorias {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.cate a {
  text-align: center;
  display: block;
}
